body {
    font-family: "Noto serif", serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #d9534f;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.product-details {
    margin-top: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #777;
}

.buy-now-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5bc0de;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buy-now-button:hover {
    background-color: #46b8da;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}